@{
    ViewBag.Title = "Forget Password";
}
<h3>Enter your email</h3>
<form method="post" action="/Member/SendCodeInMail">
    <input type="email" name="mail" class="form-control" required />
    <button type="submit" class="btn btn-primary mt-2">Send Code</button>
</form>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
